body {
  margin: 0;
  font-family: 'Google Sans Display', Arial, Helvetica, sans-serif;
  background: #efefef;
  color: #333;
  line-height: 18px;
  padding: 10px 10px;
}

a {
  text-decoration: none;
}
