@import './utils/reset';
@import './utils/fonts';
@import './utils/variables';
@import './utils/breakpoints';
@import './utils/normalize';
@import './utils/type';
@import './global';
@import '../layouts/header';
@import '../layouts/footer';
@import '../layouts/wrapper';
@import '../components/text-paragraph/';
