body {
  margin: 0;
  font-family: $font-primary;
  background: $color-baby-powder;
  color: $color-black;
  line-height: 18px;
  padding: 10px 10px;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $color-white;
}

::-webkit-scrollbar-thumb {
  background: $color-gray;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-pink;
}

::selection {
  background: $color-pink;
  color: $color-white;
}
