.text-paragragh {
  margin-bottom: 3em;

  &__title {
    line-height: 35px;
    font-size: 32px;
    font-weight: 700;
    color: $color-black;
  }

  &__description {
    margin: 40px 0;
  }

  &__cta {
    .button {
      background-color: $color-pink;
      border-radius: 3px;
      color: $color-white;
      display: inline-block;
      padding: 13.33333px 20px;
      text-decoration: none;
    }
  }

  .time-now {
    margin-bottom: 20px;
  }
}
