.header {
  max-width: 900px;
  margin: 20px auto 20px;

  &__brand {
    @include type-title;
    margin-bottom: 20px;
  }

  a {
    color: $color-gray;
  }

  .nav__items__item {
    display: inline-block;
    margin-right: 20px;

    &:hover {
      border-bottom: 2px solid $color-gray;
    }

    &--active {
      border-bottom: 2px solid $color-pink;
    }
  }
}
