.footer {
  background: #495963;
  box-sizing: border-box;
  box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  margin: 0 auto;
  max-width: 900px;
  padding: 20px 40px;

  &__content {
    display: flex;
    align-items: center;

    &__brand {
      font-size: 32px;
      font-weight: 700;
      line-height: 18px;
      width: 20%;
    }

    .social {
      width: 80%;
      display: flex;
      justify-content: flex-end;

      &__item {
        display: inline-block;
        margin-right: 20px;
      }
    }
  }

  a {
    color: #fff;
    line-height: 35px;
  }
}
