.footer {
  background: $color-gray;
  box-sizing: border-box;
  box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  margin: 0 auto;
  max-width: 900px;
  padding: 20px 40px;

  &__content {
    @include sm {
      display: flex;
      align-items: center;
    }

    &__brand {
      @include type-title;
      text-align: center;

      @include sm {
        width: 50%;
        display: flex;
      }
    }

    .social {
      display: flex;
      justify-content: space-around;

      @include sm {
        width: 50%;
        justify-content: flex-end;
      }

      &__item {
        display: inline-block;

        @include sm {
          margin-right: 20px;
        }
      }
    }
  }

  a {
    color: $color-white;
    line-height: 35px;
  }
}
